<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HexLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HexLoader.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="BodySizePage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContinueLoadChar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetryLoadChar" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PreRequest" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HexFilePath" serializeAs="String">
                <value />
            </setting>
        </HexLoader.Properties.Settings>
    </userSettings>
</configuration>